body {
    text-align: center;
    height: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background: #C0C7CA;
    -webkit-font-smoothing: subpixel-antialiased;
    word-wrap: break-word;
}


h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
    color: white;
}

#name {
    font-size: 25px;
    color: #2a4f31;
    font-display: small-caps;
}

.profile {
    width: 98%;
    height: 850px;
}

#welcome {
    position: absolute;
    bottom: 0;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}


#menubar2 {

    cursor: pointer;
    background-color: black;
    opacity: 0.7;
    width: 200px;
    height: 55px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    color: white;
    border: 0px;
    font-size: 15px;
    margin-left: 11px;
}

#menubar3 {

    cursor: pointer;
    background-color: black;
    opacity: 0.7;
    width: 200px;
    height: 55px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    color: white;
    border: 0px;
    font-size: 15px;
    margin-left: 11px;
}

#menubar4 {

    cursor: pointer;
    background-color: black;
    opacity: 0.7;
    width: 200px;
    height: 55px;
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: bold;
    color: white;
    border: 0px;
    font-size: 15px;
    margin-left: 11px;
}

#menubar5 {

    cursor: pointer;
    background-color: black;
    opacity: 0.7;
    width: 200px;
    height: 55px;
    margin-top: px;
    margin-bottom: 0px;
    font-weight: bold;
    color: white;
    border: 0px;
    font-size: 15px;
    margin-left: 11px;
}

#OABTNS1 {
    cursor: pointer;
    color: black(255, 255, 255, 0.664);
    width: 530px;
    height: 50px;
}

#OABTNS2 {
    cursor: pointer;
    color: black(255, 255, 255, 0.664);
    width: 530px;
    height: 50px;
}

#OABTNS3 {
    cursor: pointer;
    color: black(255, 255, 255, 0.664);
    width: 530px;
    height: 50px;
}

#OABTNS4 {
    cursor: pointer;
    color: black(255, 255, 255, 0.664);
    width: 530px;
    height: 50px;
}

#OABTNS5 {
    cursor: pointer;
    color: black(255, 255, 255, 0.664);
    width: 530px;
    height: 50px;
}

#OABTNS6 {
    cursor: pointer;
    color: black(255, 255, 255, 0.664);
    width: 530px;
    height: 50px;
}

#OABTNS7 {
    cursor: pointer;
    color: black(255, 255, 255, 0.664);
    width: 530px;
    height: 50px;
}

#OABTNS8 {
    cursor: pointer;
    color: black(255, 255, 255, 0.664);
    width: 530px;
    height: 50px;
}

#OABTNS9 {
    cursor: pointer;
    color: black(255, 255, 255, 0.664);
    width: 530px;
    height: 50px;
}

#OABTNS10 {
    cursor: pointer;
    color: black(255, 255, 255, 0.664);
    width: 530px;
    height: 50px;
}

#OABTNS11 {
    cursor: pointer;
    color: black(255, 255, 255, 0.664);
    width: 530px;
    height: 50px;
}

.home1 {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    top: 130px;
    display: table-cell;
    width: 100px;
    margin-top: 0%;
    margin-bottom: 0%;

}
.home2 {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    top: 180px;
    display: table-cell;
    width: 100px;
    margin-top: 0%;
    margin-bottom: 0%;

}

.home3 {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    top: 230px;
    display: table-cell;
    width: 100px;
    margin-top: 0%;
    margin-bottom: 0%;

}

.home4 {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    top: 280px;
    display: table-cell;
    width: 100px;
    margin-top: 0%;
    margin-bottom: 0%;


}


.titleHome {
    text-align: left;
    color: #2a4f31;
    font-size: 30px;
}


.modal-content {
    margin-top: 100px;
}

.img_modal {
    display: inline-block;
}

.p_modal {
    margin-top: 10px;
}

.modal-body {
    text-align: center
}



.image-section {
    display: flex;
    justify-content: center;
  }

  .section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: black;
    color: white;
  }

.i1{
    height:90%;
}

.contact_1 h3
{
    display: inline;
}

.pplttl {
    color: black;
    
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
    font-variant: small-caps;
}

.pplimg {
    width: 60%;
    
}

.contactSideSentence {
    text-align: left;
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 17px;
}

#contacttitle {
    text-align: left;
    font-weight: Bold;
    font-size: 20px;
    margin-bottom: 0px;
}

.sidesentence {
    width: 50%;
}


.PplH3 { 
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.CntH3 {
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

h1 {
    color: black;
}

.justifyPplWords {
    width: 40%;
}

.PplH3Des {
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: justify;
    text-justify: inter-word;
}

.HomH3 {
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: justify;
    text-justify: inter-word;
}

.tristonImgTest {
    height: 400px;
}

.OABody {
    height: 500px;
    width: 1500px;
}

.OABTNSSPACING {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 30px;
    width: 300px;
    font-size: 15px;
    font-weight: bold;
    color: #2a4f31;
}

.sectionOA {
    width: 850;
    color: blue;
}

#BAIPopUp {
    width: 575px;
    margin-top: 100px;
}

.OAH3Des {
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 20px;
    margin-right: 100px;
    text-align: justify;
    text-justify: inter-word;
    color: black;
}

#CDPopUp {
    width: 575px;
    margin-top: 100px;
}

.title4OA {
    text-align: left;
    color: #2a4f31;
    font-size: 20px;
}

.OABody {
    height: 700px;
}

#tristonFitImg {
    height: 300px;
}

#a {
    width: 600px;
}









